@font-face {
    font-family: 'dream_orphansregular';
    src: url('../fonts/dream_orphans-webfont.eot');
    src: url('../fonts/dream_orphans-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dream_orphans-webfont.woff2') format('woff2'),
    url('../fonts/dream_orphans-webfont.woff') format('woff'),
    url('../fonts/dream_orphans-webfont.ttf') format('truetype'),
    url('../fonts/dream_orphans-webfont.svg#dream_orphansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dream_orphansbold';
    src: url('../fonts/dream_orphans_bd-webfont.eot');
    src: url('../fonts/dream_orphans_bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dream_orphans_bd-webfont.woff2') format('woff2'),
    url('../fonts/dream_orphans_bd-webfont.woff') format('woff'),
    url('../fonts/dream_orphans_bd-webfont.ttf') format('truetype'),
    url('../fonts/dream_orphans_bd-webfont.svg#dream_orphansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dream_orphansitalic';
    src: url('../fonts/dream_orphans_it-webfont.eot');
    src: url('../fonts/dream_orphans_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dream_orphans_it-webfont.woff2') format('woff2'),
    url('../fonts/dream_orphans_it-webfont.woff') format('woff'),
    url('../fonts/dream_orphans_it-webfont.ttf') format('truetype'),
    url('../fonts/dream_orphans_it-webfont.svg#dream_orphansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'dream_orphansbold_italic';
    src: url('../fonts/dream_orphans_bd_it-webfont.eot');
    src: url('../fonts/dream_orphans_bd_it-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dream_orphans_bd_it-webfont.woff2') format('woff2'),
    url('../fonts/dream_orphans_bd_it-webfont.woff') format('woff'),
    url('../fonts/dream_orphans_bd_it-webfont.ttf') format('truetype'),
    url('../fonts/dream_orphans_bd_it-webfont.svg#dream_orphansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'good_timesregular';
    src: url('../fonts/good_times_rg-webfont.eot');
    src: url('../fonts/good_times_rg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/good_times_rg-webfont.woff2') format('woff2'),
    url('../fonts/good_times_rg-webfont.woff') format('woff'),
    url('../fonts/good_times_rg-webfont.ttf') format('truetype'),
    url('../fonts/good_times_rg-webfont.svg#good_timesregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#startstopgame {
    width: 200px;
    float: right;
}

#resetgame {
    width: 200px;
    float: left;
}

#enterbutton {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    background-color: #006E2E;
}

#enterbutton:hover {
    background-color: #008C00;
}

#eulabutton {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B02B2C;
}

#eulabutton:hover {
    background-color: #D01F3C;
}

.form-signin-heading-h2 {
    margin-top: 10%;
    text-align: center;
    font-family: dream_orphansbold;
}

.form-signin-heading-h3 {
    text-align: center;
    font-family: dream_orphansbold;
    margin-top: 10px;
}

.textcenter {
    text-align: center;
}

.blackbg {
    background-color: black;
}

.whitetext {
    color: #FFF;
}

.coalpic {
    background: url("coal.png");
}

.oilpic {
    background: url("oil.png");
}

.nuclearpic {
    background: url("nuclear.png");
}

.windpic {
    background: url("wind.png");
}

.geopic {
    background: url("geothermal.png");
}

.solarpic {
    background: url("solar.png");
}

.effpic {
    background: url("eff.png");
}

.batterypic {
    background: url("battery.png");
}

.fusionpic {
    background: url("fusion.png");
}

.smallpowerpic {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.addinput {
    font-size: 12px;
}

.evobody {
    font-family: good_timesregular;
}

.evobody .mainslogen {
    display: none;
}

.evobody h2 {
    font-size: 12px;
}

.pea {
    background-color: #008C00;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    /*float: right;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000;
}

.pea:hover {
    background-color: #00ca00;
}